<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs')%>
  <%- include('header.ejs')%>

    <head>
      <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
      <section class="messages_container">
        <p>Message Board</p>
        <div class="messages">
          <%messages.map((val)=>{%>
            <div class="message">
              <span>
                <%=val.username%>
              </span>
              <p>
                <%=val.text%>
              </p>
              <a href=<%="/messages/" .concat(val.id) %>>
                ...
              </a>
            </div>
            <%})%>
        </div>
        <div class="new_message">
          <a href="/new">
            Write a message
          </a>
        </div>
      </section>
    </body>

</html>